.tilted{
    transform: rotate(9.5deg);
    z-index: 1;
    position: absolute;
    right: 330px;
    width: 500px;
}

.images{
    animation: animation 60s infinite linear;
}

@keyframes animation{
    0%{
        transform: translate(0, 90vh);
    }
    100%{
        transform: translate(20px, -105%);
    }

}

.gradient{
    z-index: 2;
    height: 200px;
    width: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, #F8F8F8, transparent);
    pointer-events: none;
}

.tilted img{   
    object-fit: cover;
    z-index: -1;
    width: 230px;
    height: 250px;
    box-shadow: 6px 12px 12px -8px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    margin-bottom: 40px;
    opacity: 0.5;
    transition: 300ms;
}


.tilted img:hover{
    opacity: 1;
    z-index: 2;
}

.tilted .one{
    margin-left: 120px;
}

.tilted .two{
    margin-left: 350px;
}

@media screen and (max-width: 1200px) {
    .images {
        visibility: hidden;
        pointer-events: none;
    }
    .tilted {
        visibility: hidden;
        pointer-events: none;
    }
    .gradient{
        visibility: hidden;
        pointer-events: none;
    }
  }